<% if companies.any? %>
  <ul class="list-unstyled">
    <% companies.each do |company| %>
      <li class="media mb-3">
        <img class="mr-2 rounded" src="<%= gravatar_url(company, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <b><%= company.name %></b> <span class="text-muted">followed at <%= company.created_at.to_s(:datetime_jp) %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>