<h1>ユーザーの詳細</h1>
<div class="media">
  <img class="mr-2" src="/assets/hito.png">
  <div class="media-body">
    <h3 class="mt-0">名前：<%= @user.name %></h3>
    <h5 class="mt-0">email：<%= @user.email %></h5>
    
    <%= link_to :back do %>
      <button>戻る</button>
    <% end %>
  </div>
</div>

