<% jobs = current_company.jobs %>
<% jobs.each do |job| %>
  <% unless Relationship.find_by(job_id: job.id)==nil then %>
    <% relationshiip = Relationship.find_by(job_id: job.id) %>
    <div>
      <%= relationshiip.job.status %>
    </div>
    <div>
      <h5 class="mt-0">受託者名：<%= relationshiip.user.name %></h5>
    </div>
    <div>
      <h6 class="mt-0">委託お仕事：<%= relationshiip.job.content %></h6><br>
    </div>
  <% end %>
<% end %>

