<% jobs = current_company.jobs %>
<% jobs.each do |job| %>
  <% unless Relationship.find_by(job_id: job.id)==nil then %>
    <% relationshiip = Relationship.find_by(job_id: job.id) %>
    <div>
      <%= relationshiip.job.status %>
    </div>
    <div>
      <h5 class="mt-0">受託者名：<%= link_to relationshiip.user.name,user_path(relationshiip.user) %></h5>
    </div>
    <div>
      <h6 class="mt-0">委託お仕事：<%= link_to relationshiip.job.content,job_path(relationshiip.job) %></h6><br>
    </div>
  <% end %>
<% end %>

