<h1>企業様の詳細</h1>
<div class="media">
  <img class="mr-2" src="/assets/company.png">
  <div class="media-body">
    <h3 class="mt-0">企業様名：<%= @company.name %></h3>
    <h5 class="mt-0">email：<%= @company.email %></h5>
    
    <%= link_to :back do %>
      <button>戻る</button>
    <% end %>
  </div>
</div>